name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: "1.17.8"
      - uses: actions/checkout@v2
      - run: go test -p 1 ./waku/...
